.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: 1px solid gray;
  margin: 10px;
}

.list-notes {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.note {
  width: 60%;
  display: flex;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}

img {
  width: 150px;
  justify-self: flex-start;
}

.note-content {
  justify-content: center;
  margin: 10px auto;
}

h2 {
  text-transform: uppercase;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  background-color: royalblue;
  color: whitesmoke;
  font-size: 16px;
  margin: 10px;
}
